.container {
  font-family: 'Bebas Neue', cursive;
  padding: 0 2rem;
  background-color: rgb(0, 0, 0);
  /* background-color: rebeccapurple; */
  /* width: 50vw; */
  /* background-color: red;    */
  /* height: 100vh; */
  width: 100vw;
}

.main {
  /* background-color: rebeccapurple; */
  padding-top: .8rem;
  /* background-color: red; */
  min-height: fit-content;
  /* padding: 0rem 0; */
  flex: 1;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
   /* background-color: yellow;   */

}




.topHalf{
  /* background-color: green; */
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: royalblue; */
  height: fit-content;
  width: 100vw;
  text-align: center;
  font-weight: 600;
  line-height: 2vh;
  background-color: white;
  color: black;
}
.ReadInfo{
  /* background-color: red; */

display: flex;
justify-content: center;
align-items: center;
  height: 10vh;
  background-color: rgb(0, 0, 0);
  font-size: 4vw;
  line-height: 7vw;
}
.underline{
  margin-left: 1vw;
  text-decoration: underline;
}


.summaryHeader{ 
  /* background-color: black; */
 /* background-color: olive; */
display: flex;
justify-content: left;
align-items: center;
/* background-color: red; */
font-weight: 100;
width: 90vw;
text-align: left;
height: 10vh;
font-size: 3.5vw;
 line-height: 3vw;
}
.summaryText{ 
   /* background-color: black; */
  /* background-color: olive; */
 text-decoration: underline;
 display: flex;
 justify-content: center;
 align-items: center;
 /* background-color: red;  */
 width: 90vw;
  height: 5vh;
  font-size: 5vw;
  line-height: 7vw;
}



.topicText{
  /* background-color: black; */
  /* background-color: olive; */
text-decoration: underline;
display: flex;
justify-content: center;
align-items: center;
  height: 10vh;
  font-size: 4vw;
  line-height: 7vw;

}
.mainText{


  /* background-color: rgb(202, 248, 76); */
  /* background-color: olive; */
display: flex;
justify-content: center;
  align-items: center;
  height: 60vh;
  /* background-color: red; */
  /* background-color: teal; */
  width: 70vw;
  font-size: 7vw;
  line-height: 8vw;
}
.scrollSection{
  /* background-color: red; */
  /* background-color: rgb(0, 26, 255); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  height: fit-content;
  /* background-color: blue; */
  width: 100%;
  background-color: rgb(0, 119, 255);
  overflow: auto;
}

.bottomHalf{
/* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: gray; */
  margin: 1rem;
  /* background-color: red; */
  text-align: center;
  font-weight: bolder;
  height: 100%;
  margin: 16px;

  width: fit-content;
  overflow: auto;

}

.Stack{
  /* background-color: red; */
  height: fit-content;
}
.mainSection{
  /* background-color: red; */
  top:0;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
/* background-color: red; */

  height: fit-content;
  width: 100vw;
  /* background-color: red; */
  /* background-color: rgba(255, 0, 0); */
  object-fit: contain;
}

.section{
   /* background-color: yellowgreen; */
  /* background-color: red; */
  margin-top: 1rem;
  display: flex;
  z-index: 99;
  /* background-color: red; */
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* background-color: rgb(0, 213, 255);  */
  height: fit-content;
  width: 100vw;
  /* background-color: rgb(234, 16, 16); */
  object-fit: contain;
}
.createButton{
  height: 5vh;
  margin: 1rem;
  color: white;
  border-radius: 7px;
  border-color: white;
  font-weight: bolder;
  font-size: 2vh;
  width: 25vw;
  background-color: #150211;

}


.mainButton{
  height: 5vh;
  margin: 1rem;
  color: white;
  border-radius: 7px;
  border-color: white;
  font-weight: bolder;
  font-size: 2vh;
  width: 25vw;
 background-color: rgb(6, 6, 6);
}

.mainButtons{
  background-color: black;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;

}

.mainImage{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;

}
.Main{

   /* background-color: yellow;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
   height: fit-content;
   /* background-color: pink;c*/

}

.CardImage{
  /* background-color: yellow; */
  display: flex;
  width: 80vw;
  height: fit-content;
  margin-top: 2rem;

}

.CardImageFile{
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.topimage{
  background-color: yellow;
  display: flex;
}
.movie{
  /* background-color: red; */
  background-color: rgb(0, 0, 0);
  object-fit:cover;
  height: 100%;
  width: 100%;
}
.Header{
  display: flex;
  position: sticky;
  top:0;
  z-index: 999999;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100vw;
  height: 12vh;
  background-color: rgb(0, 0, 0);
  color: white;
  /* background-color: rgba(255, 0, 0, 0.934); */

}
.headerContainer{
  /* background-color: red;  */

  height: 3vh;
  background-color: rgb(89, 255, 0);
  

}

.sidebarItem{
   background-color: rgba(17, 17, 17, 0.494); 
   color: rgb(255, 255, 255);
  display: flex;
  font-weight: bolder;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.Sidebar{
  height: fit-content;
  /* background-color: red; */
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 90vh;
  position: fixed;
  border-radius: 5px;
  position: sticky;
  z-index: 999999;
  top: 0;
  
  
}



.SidebarContainer{
  display: flex;
  background-color: red;
  align-items: left;
  justify-content: left;
  width: fit-content;
  max-height: fit-content;
   /* background-color: rgb(153, 255, 0); */
}




.optionButton{
  /* background-color: rgb(255, 0, 0);  */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  width: 30vw;
  height: 7vh;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #ccc;
}
.socials{
  /* background-color: rebeccapurple; */
  width: 90vw;
  display: flex;

  margin-bottom: 4vh;
  margin-top: 1vh;
}

.footer {
  margin-top: 10vh;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #f300cb;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.phone{

}

.title,
.description {
  text-align: center;
}

.smallPrint{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  line-height: 1;
  font-size: 1rem;
  /* background-color: rgb(76, 69, 128); */
  width: 50vw;
}

.FramerIntroContents{
   /* background-color: gray;  */
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: .7rem;
  /* background-color: yellow; */
  width: 50vw;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 99vw;
  /* background-color: rgb(225, 65, 214); */
  
}

.Children{
 /* background-color: yellow; */
  width: 100vw;
  height: fit-content;
}

.visitLaunchpadButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff00f2f4;
  height: fit-content;
  width: 20vw;
  height: 10vh;
  color: red;
  background-color: rgb(0, 255, 21);
  border-radius: 10px;
  font-weight: bolder;

}


.TopHeader{
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: sticky;
  z-index: 9999999;
  top: 0;
  /* background-color: red; */
}

.WholeHeader{
  
  position: sticky;
  top: 0;
  
  /* background-color: yellow; */
  /* display: flex;
  justify-content: flex-start; */

 /* background-color: red;  */


}

.filterDropDown:hover{
  display: flex;
  background-color: #ff00f2f4;
 border-radius: 20px;
 width: 6rem;
}
.filterDropDown .filterText{
 color: rgb(255, 255, 255);
 font-size:x-large;
 width: 100px;
 margin: 0px;
}
.servicesText{
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  font-size: 3vw;
  width: 90vw;
  align-items: center;
  text-align: center;
  height: 10vh;
  /* background-color: rebeccapurple; */
}
.marketplaceTitle{
  display: flex;

  justify-content: left;

  /* background-color: red; */
  /* background-color: rgba(235, 32, 32); */
  padding-bottom: 5px;
  margin-left: 2vw;
  align-items: left;
  width: 30vh;
  text-align: left;
  /* background-color: red; */
   /* background-color: rgb(255, 234, 0);  */
  
}



.marketplaceListing{
  padding-top:10px;
  padding-bottom: 10px;
  background-color: #ff00f2f4;
  width: 10vw;
}

.Col{
  margin-bottom: 15px;
}


.PannelCard{
  width: 80vw;
  height: 100%;
  margin: 1em;
  box-shadow: 0 0 15px #000;
 
  border-radius: 10px;
  flex: 0 0 5%; /* each card will be 25% width */
  border-width: 10px;
  border-color: #f300be;
  background-color: rgb(26, 26, 26);


}
.Card{
  width: 35vw;
  height: 100%;
  margin: 1em;
  box-shadow: 0 0 15px #000;
  border-radius: 10px;
  flex: 0 0 5%; /* each card will be 25% width */
  border-width: 10px;
  border-color: #f300be;
  background-color: rgb(26, 26, 26);
  line-height: 3.5vw;
  font-size: 3.5vw;


}
.industryInfo{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* background-color: red;  */
  width: 80vw;
  height: fit-content;
  text-align: center;
  font-weight: 100;
  line-height: 3.5vw;
  font-size: 3.5vw;
}

.messageInput{
  width: 100%;
  border-radius: 10px;
/* background-color: white; */
color: rgb(255, 255, 255);

}
.PhoneInput{
  border-radius: 10px;
  width: 85vw;
  height: 3em;
 /* background-color: white; */
 color: rgb(255, 255, 255);
}
.nameInput{
  border-radius: 10px;
  height: 3em;
  width: 55vw;
 /* background-color: white; */
 color: rgb(255, 255, 255);
}
.emailInput{
  border-radius: 10px;
  width: 65vw;
  height: 3em;
  /* background-color: white; */
  color: rgb(255, 255, 255);
}


.InfoText{
  width: 90vw;
  font-size: 3.5vw;
  line-height: 5.5vh;
}
.textInput{
  border-radius: 10px;
  width: 75vw;
  height: 3em;
  /* background-color: white; */
  color: rgb(255, 255, 255);
}
.cardItem{
 /* background-color: rebeccapurple; */
  height: fit-content;
  width: fit-content;
}
.sendButton{
  font-family: 'Bebas Neue', cursive;
  font-size: 3vw;
  width: 85vw;
  height: 10vw;
  background-color: rgb(36, 36, 36);
  margin-top: 10vw;
  margin-left: 1vw;
  font-weight: bold;
  margin-bottom:  15vh;
  border-radius: 15px;
  color: rgb(255, 255, 255);
}

.contactInfo{
  margin-left: 3vw;
  font-size: 3vw;
}
.contactPage{
  /* background-color: rgb(246, 0, 0); */
  /* background-color: green; */
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  border-radius: inherit;
  /* background-color: royalblue; */
  height: fit-content;
  width: 90vw;
  text-align: left;
  font-weight: 600;
  line-height: 50px;
  /* background-color: rgb(90, 35, 242); */
}

.subText{
  line-height: 5vw;
  /* background-color: red; */
  font-size: 5vw;
  /* background-color: red; */
  height: 10vh;
}

.industryPage{
/*   
  background-color: rgb(252, 0, 0); */
   /* background-color: green; */
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;
   /* background-color: royalblue; */
   height: fit-content;
   width: 90vw;

   text-align: center;
   font-weight: 600;
   /* background-color: rgb(90, 35, 242); */
}



.categories{
  background-color: rgb(0, 0, 0);
width: 100vw;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.pannelImage{
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 25vw;
  object-fit: cover;
  background-color: rgb(0, 0, 0);
}
.marketplaceImage{

  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 20vw;
  object-fit: cover;

  
}
.pannelCardBody{
   /* background-color: yellow; */
   line-height: 3vw;
   /* background-color: red; */
   font-size: 3vw;
  /* background-color: red; */
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin-bottom: 5vh;
  /* background-color: red; */
  
  width: 100%;
  height: 15vh;
  /* background-color: green; */
  
  /* background-color: yellow; */
  border-radius: 0px 0px 20px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 10px;
}
.marketplaceCardBody{
  /* background-color: yellow; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: red; */
  
  width: 35vw;
  height: 15vh;
  /* background-color: green; */
  
  /* background-color: yellow; */
  border-radius: 0px 0px 20px 20px;
  padding-top: 20px;
  
  padding-bottom: 20px;
  padding: 10px;
}






.itemSection{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 100vw;
  flex-wrap: wrap; 
  /* background-color: brown; */
 
  max-width: 98vw; /* whatever you desire */


}


.Card:hover,
.Card:focus,
.Card:active {
  /* color: #0000009f; */
  border-radius: 10px;
  border: 1px double #80ffddd8;

  
 
  
}
.pairButton{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .7rem;
  background-color: rgba(223, 216, 216, 0.221);
  border: 1px double #f300bed8;
  color: #f300be;
  width: 30vw;
  height: 5vh;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #ccc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: .7rem;
  /* background-color: blue; */
}



.logo {
  width: 100%;
  height: 100%;
}
.blank{
  margin-left: 50px;
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  background-color: rgba(128, 0, 255, 0);
  color: white;
}

.icon{
  margin-right: 20px;
  margin-left: 20px;
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  /* background-color: rebeccapurple; */
  color: white;
}
.blank{
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2rem;
  /* background-color: red; */


  /* background-color: red; */
  /* background-color: red; */
  object-fit: contain;
}
.mainLogo{
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 5vh;



  /* background-color: red; */
  /* background-color: red; */
  object-fit: contain;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



